Repository ttxdev/TTX, pull requests merged in 2025-05, with the labels that each got.

#19 web: fix unsafe mutation
  src/Web/src/lib/components/channel/LargestCreatorHolders.svelte
Labels: bug, web

#20 web: generate interfaces instead of classes
  src/Web/src/lib/api.ts
  src/Web/src/lib/auth.ts
  src/Web/src/lib/auth/discord.ts
  src/Web/src/lib/components/ChannelTable.svelte
  src/Web/src/lib/components/Leaderboard.svelte
  src/Web/src/lib/components/Search.svelte
  src/Web/src/lib/components/channel/BuySellModal.svelte
  src/Web/src/lib/components/channel/CreatorCard.svelte
  src/Web/src/lib/stores/transactions.ts
  src/Web/src/routes/+page.server.ts
  src/Web/src/routes/creators/[slug]/+page.server.ts
  src/Web/src/routes/creators/[slug]/+page.svelte
  src/Web/src/routes/gamba/+page.server.ts
  src/Web/src/routes/players/[playername]/+page.server.ts
  src/Web/src/routes/players/[playername]/+page.svelte
  src/Web/src/routes/team/+page.svelte
  src/Web/ttx.nswag
Labels: web

#23 Web/lootbox api
  src/Web/src/lib/components/WinnerModal.svelte
  src/Web/src/lib/components/shared/GamblingWheel.svelte
  src/Web/src/lib/components/shared/LootboxCard.svelte
  src/Web/src/lib/components/shared/SpinButton.svelte
  src/Web/src/lib/utils/gamba.ts
  src/Web/src/routes/+layout.server.ts
  src/Web/src/routes/+layout.svelte
  src/Web/src/routes/gamba/+page.server.ts
  src/Web/src/routes/gamba/+page.svelte
Labels: web, feature

#24 web: update player transactions and fix avatar URL
  src/Web/src/routes/players/[playername]/+page.server.ts
  src/Web/src/routes/players/[playername]/+page.svelte
Labels: bug, web

#22 Fix Discord Authentication
  src/TTX.Api/Controllers/SessionsController.cs
  src/TTX.Api/Dto/AuthenticateDiscordDto.cs
  src/TTX.Api/Dto/DiscordTokenDto.cs
  src/TTX.Api/Dto/TwitchUserDto.cs
  src/TTX.Api/Program.cs
  src/TTX.Api/Services/SessionService.cs
  src/Web/src/lib/auth.ts
  src/Web/src/lib/auth/discord.ts
  src/Web/src/lib/auth/sessions.ts
  src/Web/src/lib/auth/twitch.ts
  src/Web/src/lib/components/ChannelTable.svelte
  src/Web/src/lib/components/Navbar.svelte
  src/Web/src/lib/components/Search.svelte
  src/Web/src/lib/components/channel/BuySellModal.svelte
  src/Web/src/lib/stores/data.ts
  src/Web/src/routes/+layout.server.ts
  src/Web/src/routes/+layout.svelte
  src/Web/src/routes/+page.server.ts
  src/Web/src/routes/api/discord/callback/+page.server.ts
  src/Web/src/routes/api/discord/link/+page.server.ts
  src/Web/src/routes/api/discord/link/+page.svelte
  src/Web/src/routes/api/login/+server.ts
  src/Web/src/routes/api/logout/+page.server.ts
  src/Web/src/routes/api/logout/discord/+page.server.ts
  src/Web/src/routes/api/twitch/callback/+server.ts
  src/Web/src/routes/creators/+page.server.ts
  src/Web/src/routes/creators/[slug]/+page.server.ts
  src/Web/src/routes/discord/+page.svelte
  src/Web/src/routes/gamba/+page.server.ts
  src/Web/src/routes/legal/+page.svelte
  src/Web/src/routes/players/[playername]/+page.server.ts
  src/Web/src/routes/profile/+page.server.js
  src/Web/src/routes/profile/[username]/+page.server.js
  src/Web/src/routes/profile/[username]/+page.svelte
Labels: bug, web, api

#25 web: creator view live updating
  src/Web/src/lib/components/channel/LargestCreatorHolders.svelte
  src/Web/src/routes/creators/[slug]/+page.svelte
Labels: bug, web

#29 Player Leaderboard
  src/Web/src/lib/components/Navbar.svelte
  src/Web/src/lib/components/PlayerLeaderboard.svelte
  src/Web/src/routes/leaderboard/+page.server.ts
  src/Web/src/routes/leaderboard/+page.svelte
Labels: web, feature

#30 Remove animation from Modal / Navbar
  src/Web/src/lib/components/Navbar.svelte
  src/Web/src/lib/components/channel/BuySellModal.svelte
Labels: web

#31 Web/streamer profile button
  src/Web/src/lib/components/player/PlayerCard.svelte
  src/Web/src/routes/creators/[slug]/+page.server.ts
  src/Web/src/routes/creators/[slug]/+page.svelte
  src/Web/src/routes/players/[playername]/+page.server.ts
  src/Web/src/routes/players/[playername]/+page.svelte
Labels: web, feature

#33 refactor: enhance UI components and improve data formatting
  src/Web/src/lib/components/ChannelTable.svelte
  src/Web/src/lib/components/PlayerLeaderboard.svelte
  src/Web/src/lib/components/channel/CreatorCard.svelte
  src/Web/src/lib/util.ts
  src/Web/src/routes/players/+page.svelte
Labels: web

#36 Updated view of player portfolio chart
  src/Web/src/lib/components/player/PlayerCard.svelte
Labels: web

#38 Created http stuff for my command :D
  src/TTX.Api/Controllers/CreatorsController.cs
  src/TTX.Api/TTX.Api.csproj
Labels: api

#39 Web/creator opt out
  src/Web/src/lib/components/channel/OptOutModal.svelte
  src/Web/src/routes/creators/[slug]/+page.server.ts
  src/Web/src/routes/creators/[slug]/+page.svelte
Labels: web

#41 TTX transaction rate limiting
  .env.example
  docker-compose.yaml
  src/TTX.Api/Controllers/CreatorsController.cs
  src/TTX.Api/Controllers/TransactionsController.cs
  src/TTX.Api/Dockerfile
  src/TTX.Api/Program.cs
  src/TTX.Api/TTX.Api.csproj
  tests/TTX.Tests/Api/TtxRateLimitTest.cs
  tests/TTX.Tests/ApplicationTests.cs
  tests/TTX.Tests/Factories/WebApplicationFactory.cs
  tests/TTX.Tests/TTX.Tests.csproj
Labels: api, tech debt
